.profile__edit-button{
    margin-top: 37px;
    grid-column: 3;
    grid-row: 1;
    align-self: start;
    margin-right: 5px;
    cursor: pointer;
    width: 24px;
    transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
    opacity: 0.6;
  }
  
@media screen and (max-width:799px) {
  .profile__edit-button{
        grid-column: 2;
        grid-row: 2;
        margin-top: 0;
        width: 18px;
        align-self: center;
        justify-self: center;
        margin-right: 0;
        margin-left: 10px;
    }
 }