.popup_opened{
<<<<<<< HEAD
    /*display: flex;*/
    visibility: visible;
    opacity: 1;
=======
   /* display: flex; */
   visibility: visible;
   opacity: 1;
>>>>>>> 7028f62dcc029184043f105484974675c5690f13
}