.element__like_active {
    /* opacity: 1; */
    background-image: url(../../../../images/Like_black.svg);
    transition: background-image 0.3s ease;
}

.element__like_active:hover {
  opacity: .5;
}