.profile{
    color: #FFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    
}

@media screen and (max-width: 799px) {
    .profile{
        flex-direction: column;
        gap:36px;
        padding-top: 42px;
    }
}