.elements{
    width: 100%;
    margin: auto;
    padding-top: 51px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 17px;
}

@media screen and (max-width:767px) {
    .elements{
        padding-top: 36px;
        gap: 20px;
    }
  }