.footer{
    width: calc(100% - 2 * 200px);
    color: #545454;
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 60px;
    
}

@media screen and (max-width: 1023px) {
    .footer{
        width: calc(100% - 2 * 80px);
    }
}

@media screen and (max-width: 799px) {
    .footer{
        width: calc(100% - 2 * 19px);
        padding-top: 48px;
        padding-bottom: 36px;
    }
}