.profile__user-info{
    display: grid;
    grid-template-columns: minmax(120px, 150px) max-content 1fr;
    grid-template-rows: min-content 1fr;
    align-self: flex-start;
}

@media screen and (max-width:799px) {
    .profile__user-info{
        grid-template-columns: max-content 28px;
        grid-template-rows: 146px min-content 1fr;
        align-self: center;
    }
  }
