.element__trash{
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url(../../../images/Trash.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    width: 18px;
    height: 19px;
    display: none;
}

.element__trash:hover {
    opacity: 0.5;
  }
