.footer{
    width: calc(100% - 2 * 200px);
    color: #545454;
    margin: 66px auto 60px;
    
}

@media screen and (max-width: 1024px) {
    .footer{
        width: calc(100% - 2 * 50px);
    }
}

@media screen and (max-width: 767px) {
    .footer{
        width: calc(100% - 2 * 19px);
    }
}