.popup__user-info{
    margin: auto;
    padding: 0;
    border: 0;
    padding-top: 45px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 520px) {
    .popup__user-info {
        padding-top: 70px;
    padding-bottom: 46px;
    }
  }