.element{
    margin: 0 auto;
    border-radius: 4%;
    width: 282px;
    height: 361px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 39px;
    grid-template-rows: 1fr 1fr;
    position: relative;
    
}